---
import styles from "./projectcard.module.scss";
const { src, img, title, description, tags } = Astro.props;
---

<a
  href={src}
  target="_blank"
>
  <div class={styles.card}>
    <img
      src={img}
      alt="Orbital Image"
    />
    <h4>{title}</h4>
    <p>{description}</p>
    <div class={styles.techStack}>
      {tags.map((t: string) => <span class={styles.tag}>{t}</span>)}
    </div>
  </div>
</a>
